{% extends 'mailingservice/client_base.html' %}

{% block content %}
{% if user.is_authenticated and not perms.mailingservice.can_view_mailing_list %}
<div class="col-8">
    <a class="btn btn-primary" href="{% url 'mailingservice:client_create' %}" role="button">Создать нового клиента</a>
</div>
{% endif %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Информация о клиентах</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for object in object_list %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">{{ object.client_name }}</p>
                </div>
                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailingservice:client_detail' object.pk %}" role="button">Просмотр клиента</a>
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailingservice:client_edit' object.pk %}" role="button" >Редактировать данные клиента</a>
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailingservice:client_delete' object.pk %}" role="button">Удалить клиента</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
