{% extends 'mailingservice/client_base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Статистика по рассылке</h1>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <table class="table table-striped">
                <tr>
                    <th>название рассылки</th>
                    <th>статус рассылки на момент отчета</th>
                    <th>дата последней попытки</th>
                    <th>статус последней попытки</th>
                    <th>причина неуспеха</th>
                </tr>
                {% for attempt in attempts %}
                    <tr>
                        <td>{{ attempt.mailing_id.mailing_name }}</td>
                        <td>{{ attempt.mailing_id.mailing_status }}</td>
                        <td>{{ attempt.lastattempt_at }}</td>
                        <td>{{ attempt.status }}</td>
                        <td>{{ attempt.server_answer }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailingservice:mailing_list' %}" role="button">Back</a>
    </div>
</div>
{% endblock %}
