{% extends 'mailingservice/client_base.html' %}

{% block content %}
<div class="col-8">
    <a class="btn btn-primary" href="{% url 'mailingservice:mailing_create' %}" role="button">Создать новую рассылку</a>
</div>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Информация о рассылках</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for object in object_list %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">{{ object.mailing_name }}</p>
                </div>
                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailingservice:mailing_detail' object.pk %}" role="button">Подробнее о рассылке</a>
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailingservice:mailing_edit' object.pk %}" role="button" >Редактировать рассылку</a>
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailingservice:mailing_delete' object.pk %}" role="button">Удалить рассылку</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
