{% extends 'mailingservice/client_base.html' %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <p class="card-text">Действительно хотите удалить "{{ object.mailing_name }}"</p>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Удалить</button>
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailingservice:mailing_list' %}" role="button">Отменить</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}