{% extends 'mailingservice/client_base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Информация о Пользователе  "{{object.email }}"</h1>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">Email Пользователя: {{ object.email }}</p>
                    <p class="card-text">Контактный телефон Пользователя: {{ object.phone }}</p>
                    <p class="card-text">Страна регистрации Пользователя: {{ object.country }}</p>
                </div>
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'users:user_list' %}" role="button">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
